body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ubuntu;
    background: linear-gradient(135deg, #7F00FF, #E100FF);
    /* background-image: url(BG3.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    height: 550px;
    max-width: 900px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    background-image: url(BG2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-image {
    /* background-color: #F0F0F0; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 40px;
    /* background-image: url(BG2.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.login-image img {
    width: 150px;
    height: auto;
}

.login-form {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
}

.input-container input {
    width: 100%;
    padding: 12px 10px 12px 40px;
    border-radius: 30px;
    border: 1px solid #ddd;
    background-color: #F7F7F7;
    font-size: 16px;
    color: #333;
}

.login-button {
    background-color: #28A745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 350px;
}

.forgot-password,
.create-account {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}

.create-account {
    margin-top: 5px;
}

.forgot-password:hover,
.create-account:hover {
    text-decoration: underline;
}
h2{
    font-size: 34px !important;
    margin-bottom: 30px !important;
}
:-ms-input-placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.login-button a{
    text-decoration: none !important;
    color: white !important; 
}




